body {
    font-family: Georgia, serif;
}

table {
    /* width: 300px; Ширина таблицы */
    border: 1px solid black; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }

td, th {
    padding: 4px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
    width: 5em;
    height: 1.3em;
    text-align: center;
}