
body {
    font-family: Georgia, serif;
}

table {
    border-collapse: collapse;
}

td, tr {
    padding: 1px;
}

.theadHeight {
    height: 3em;
    font-weight: bold;
    background-color: white;
}

.firstTr {
    height: 140px;
}

.firstCl {
    width: 500px;
}

.secondCl {
    width: 200px;
}

.thirdCl {
    width: 500px;
    background-color: #e8e3e7;
}

.firstTr2 {
    height: 70px;
}

.fourth {
    width: 200px;
    background-color: #e8e3e7;
    color: gray;    
}

.fourthgr {
    background-color: #b4b2b5;
}

.fon1 {
    background-color: #d6dbd5;
}

.fon2 {
    background-color: #b6beae;
}

ol li {
    list-style-image: url(images/treangle.png);
}

a:link  {
    text-decoration: none;
    color: black;
    font-weight:bold;
    font-size: 8pt;
}

a:hover {
    text-decoration: none;
    color: white;
    font-weight:bold;
}

.vertAlign {
    vertical-align: top;
}

.vertAlign2 {
    vertical-align: top;
    text-align: right;
}

table.center {
    margin: auto;
}

.l1 {
    margin-bottom: -5px;
    /* margin-right: -5px; */
}

.r1 {
    margin-bottom: -5px;
    margin-left: -2px;
}

.l2 {
    margin-top: -1px;
}

.r2 {
    margin-top: -1px;
}