div {
    margin: auto;
}

table {
    margin: auto;
}

td {
    height: 152px;
    width: 81px;
}

td.Image0 {
    background-image: url(images/0.gif);
}

td.Image1 {
    background-image: url(images/1.gif);
}

td.Image2 {
    background-image: url(images/2.gif);
}

td.Image3 {
    background-image: url(images/3.gif);
}

td.Image4 {
    background-image: url(images/4.gif);
}

td.Image5 {
    background-image: url(images/5.gif);
}

td.Image6 {
    background-image: url(images/6.gif);
}

td.Image7 {
    background-image: url(images/7.gif);
}

td.Image8 {
    background-image: url(images/8.gif);
}

td.Image9 {
    background-image: url(images/9.gif);
}

td.ImagePoints {
    background-image: url(images/points.gif);
}

td.ImageNoPoints {
    background-image: url(images/blank.gif);
}