body {
    font-family: 'Times New Roman', Times, serif;
}

.MarginLeft {
    margin-left: 4%;
}

.Underline {
    text-underline-position: initial;
}

.UpperRoman {
    list-style-type: upper-roman;
}

.UpperLatinM0 {
    margin-top: -1em;
    list-style-type: upper-latin;
}

.LowArabic {
    list-style-type: lower-latin;
}