* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    text-align: left;
    
}    

.ClassFon {
    background-color: orange;
    border: solid gray;
    border-width: 1px;
    padding: 2px;
    width: 300px;
    position: absolute;
}

img.ImgSize {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}