div {
    position: absolute;
}

/* img {
    position: absolute;
    width: 100px;
    height: 100px;
} */

/* img.pos {
    position: relative;
    left: 500px;
    top: 750px;
} */

