body {
    width: 40em;
}

#Content1 > table > tr > td, #Content1 > table {
    border: 1px solid darkgray;
}

#Content2 table {
    border-collapse: collapse;
    width: 40em;
}

#Content2 td, #Content2 th{
    border: 2px solid darkgray;
}