u.first{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    color: blue;
}

u.second{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    color: blue;
}

u.third{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}

p.first{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8pt;
}