 * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    text-align: center;
}

table {
    margin: auto;
    height: 512px;
    width: 768px;
    font-size: 25pt;
    background-image: url(images/autumn.jpg);
    border-collapse: collapse;
}

th {
    background-color: orange;
}

th:nth-last-of-type(1), th:nth-last-of-type(2) {
    background-color: red;
}

td, tr, th {
    color:blanchedalmond;    
    border: 2px solid cornsilk;
}

td.CurrentDayColor {
    background-color: yellowgreen;
    color: black;
}