* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    text-align: left;
}

input.PasteElem {
    margin-left: 5.5em;
}

input.ChangeText {
    margin-left: 0.6em;
}

input.AddNestedList {
    margin-left: 3em;
}