* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    text-align: left;
    
}    

div.Normal {
    background-color: lightblue;
}

li.Normal {
    background-color: lightblue;
}

li.Selected {
    background-color: orange;
}