body {
    font-family: verdana, geneva, sans-serif;   
    background: #eeeeee;                       
    margin: 0;
    margin: 0 auto;
    width: 1000px;                       
}

#heder {
    height: 27px;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    width: 1000px;
}

#content1 {
    border-bottom: 1px solid #d0e0e3;
    margin-top: 28px;
}

#content2 {
    margin-right: 320px;
    padding-left: 10px;
    border-right: 1px solid #d0e0e3;
}

#sidebar {
    float: right;                             
    width: 300px;
    padding: 10px;
}

#article {
    position: relative;
}

#footer {
    height: 40px;
    position: static;
    top: 0;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.shadow {
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 2px;
}

.posImg {
    position: relative;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    
}

table.head {
    text-align: center;
    height: 26px;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
}

table.footer {
    text-align: center;
    height: 40px;
    font-size: 12px;
    font-weight: normal;
    width: 100%;
    background-color: lightgray;
}

td.bRight {
    border-right: 1px solid #ddd;
}

a:link {
    text-decoration:none;
    color: #1177cc;
}

a:visited {
    text-decoration:none;
    color: #1177cc;
}
a:hover {
    text-decoration:underline;
    color: #0000ff;
}

input.search {
    border: 1px solid #d0e0e3;
    height: 25px;   
    text-align: center;
    width: 95%;
}

div {
    background-color: white;
}

div.search {
    margin: 0 0 -20px -30px;
    padding: 0 20px 10px 20px;
    font-size: small;
    border-bottom: 1px solid #d0e0e3;
}

div.minSizeArticle {
    min-block-size: 150px;
}

p.topic {
    font-weight: bold;
    font-size: 14pt;
    
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 0px;
    padding-bottom: 0px;

    margin-top: 0px;
    margin-left: -10px;
    margin-right: 0px;
    margin-bottom: 0px;
}

hr{
    border: none;
    background-color: #d0e0e3;
    color: #d0e0e3;
    height: 1px;
}

hr.line1 {
    margin-left: -10px;
}

hr.line2 {
    margin-left: 5px;
    margin-right: 15px;
}