* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    text-align: left;
    
}

div.Blue {
    width: 500px;
    border: 1px solid black;
    background-color: lightskyblue;
    margin-top: 0px;
    margin-bottom: 0px;
}

p.Aqua {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: aqua;
    margin-top: 0px;
    margin-bottom: 0px;
}