#chessBoard{
    display: inline-block;
    border: 2px outset lightGray;
}

#chessBoard div{
    line-height: 1px;
}

#chessBoard span{
    display: inline-block;
    width: 64px;
    height: 64px;
}

#chessBoard div:nth-child(odd) span:nth-child(even),
#chessBoard div:nth-child(even) span:nth-child(odd){
     background-color: black;
}
#chessBoard div:nth-child(even) span:nth-child(even),
#chessBoard div:nth-child(odd) span:nth-child(odd){
     background-color: snow;
}