ul.Group {
    list-style-image:  url(markers/football.png);
}

li.Poland {
    list-style-image:  url(markers/flags/poland.png);
}

li.Russia {
    list-style-image: url(markers/flags/russia.png);
}

li.Czech {
    list-style-image: url(markers/flags/czech.png);
}

li.Greece {
    list-style-image: url(markers/flags/greece.png);
}

li.Germany {
    list-style-image: url(markers/flags/germany.png);
}

li.Netherlands {
    list-style-image: url(markers/flags/netherlands.png);
}

li.Portugal {
    list-style-image: url(markers/flags/portugal.png);
}

li.Denmark {
    list-style-image:  url(markers/flags/denmark.png);
}

li.Spain {
    list-style-image: url(markers/flags/spain.png);
}

li.Italy {
    list-style-image: url(markers/flags/italy.png);
}

li.Croatia {
    list-style-image: url(markers/flags/croatia.png);
}

li.Ireland {
    list-style-image: url(markers/flags/ireland.png);
}

li.Ukraine {
    list-style-image: url(markers/flags/ukraine.png);
}

li.England {
    list-style-image: url(markers/flags/england.png);
}

li.France {
    list-style-image: url(markers/flags/france.png);
}

li.Sweden {
    list-style-image: url(markers/flags/sweden.png);
}