.Center {
    text-align: center;
    font-weight: bold;
}

.Green {
    color: green;
}

span.Red {
    color: red;
}

.Font14 {
    font-size: 14pt;
}

ul.Circle {
    list-style-type: circle;
}